<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shopping</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">asdasd</property>
        <property name="hibernate.connection.pool_size">2</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection_pool_size">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- Names the annotated entity class -->
        <mapping class="Model.Entities.Categorization.Content" />
        <mapping class="Model.Entities.Categorization.Category" />
        <mapping class="Model.Entities.ProductInfo.Attribute" />
        <mapping class="Model.Entities.ProductInfo.AttributeType" />
        <mapping class="Model.Entities.ProductInfo.AttributeGroup" />
        <mapping class="Model.Entities.ProductInfo.Brand" />
        <mapping class="Model.Entities.ProductInfo.Color" />
        <mapping class="Model.Entities.ProductInfo.Guaranty" />
        <mapping class="Model.Entities.ProductInfo.Product" />
        <mapping class="Model.Entities.Discount.DiscountRule" />
        <mapping class="Model.Entities.Feedback.Answer" />
        <mapping class="Model.Entities.Feedback.Comment" />
        <mapping class="Model.Entities.Feedback.Feedback" />
        <mapping class="Model.Entities.Feedback.FeedbackCollection" />
        <mapping class="Model.Entities.Feedback.Question" />
        <mapping class="Model.Entities.Feedback.Score" />
        <mapping class="Model.Entities.UserInfo.Address" />
        <mapping class="Model.Entities.UserInfo.Profile" />
        <mapping class="Model.Entities.Order.OrderPackage" />
        <mapping class="Model.Entities.Order.OrderedProduct" />
        <mapping class="Model.Entities.UserInfo.User" />
        <mapping class="Model.Entities.Order.ProductInBasket" />

    </session-factory>
</hibernate-configuration>