<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shopping</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">asdasd</property>
        <property name="hibernate.connection.pool_size">2</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection_pool_size">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!-- Names the annotated entity class -->
        <mapping class="Model.ProductModel.Attribute" />
        <mapping class="Model.ProductModel.AttributeType" />
        <mapping class="Model.ProductModel.AttributeGroup" />
        <mapping class="Model.ProductModel.Brand" />
        <mapping class="Model.ProductModel.Category" />
        <mapping class="Model.ProductModel.Color" />
        <mapping class="Model.ProductModel.Content" />
        <mapping class="Model.ProductModel.Guaranty" />
        <mapping class="Model.ProductModel.Product" />
        <mapping class="Model.UserModel.Address" />
        <mapping class="Model.UserModel.Order" />
        <mapping class="Model.UserModel.OrderedProduct" />
        <mapping class="Model.UserModel.User" />
        <mapping class="Model.UserModel.ProductInBasket" />

    </session-factory>
</hibernate-configuration>